/* General styles for the upload page */

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .upload-title {
    font-family: 'Times new roman';
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d0e6cf;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #2e4b32;
    width: 600px;
  }
  
  .file-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .file-input {
    display: none;
  }
  
  .file-label {
    font-size: 16px;
    box-shadow: 0 4px 8px #2e4b32;
    color: rgb(19, 17, 17);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
  }
  
  .file-preview {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .submit-btn {
    box-shadow: 0 4px 8px #2e4b32;
    color: rgb(19, 18, 18);
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #218838;
  }
  